.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 380px));
  gap: 15px;
  padding: 15px 15px;
}

.gallery img {
  padding: 0px 100px;
}

h3,
h4,
.gallery__book-details,
.gallery-info {
  text-align: center;
}

.gallery__btn-details {
   margin-top: 10px;
}

.gallery__book-details {
  color: #aaaaaa;
  font-size: 15px;
}

p {
  color: #aaaaaa;
  font-size: 15px;
}

.gallery__book-author {
  font-weight: lighter;
}


.gallery_btn-addToBuy {
  color: blue
}

span a {
  color: #ff0000;
  text-decoration: none;
  border-bottom: dashed 1px #ff0000;
  font-weight: bold;
}

.gallery__bookId {
  font-size: 55px;
  font-weight: bolder;
  color: #d8d7d7;
  position: relative;
  display: inline;
  display: flex;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gallery__img {
  cursor: pointer;
}

hr.gallery__hr {
  background-color: #ff0000;
  border: 1px solid #ff0000;
  width: 30px;
}

.gallery__book {
  border-radius: 5px;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
}

.gallery_btn button {
  background-color: #aaaaaa; 
  color: #eeeeee;  
}

.gallery_btn-addToBuy {
  background-color: #0096FF;
  color: #eeeeee;
}

.gallery__confirmReturnedBook{
  background-color: #aaaaaa; 
  color: #eeeeee;  
}

.active h1,
.done h1 {
  display: flex;
  justify-content: center;
}


.btn_minus ,
.btn_plus {
  background-color: #0096FF;
  color: #eeeeee;
}

.btn_removeBoughtBook{
  background-color: #ff0000;
  color: #eeeeee;
}