.storeBookCart {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 1450px;
    right: 0;
    background:#FFFFFF;
    overflow: scroll;
    z-index: 100;
  

  &__nav {
    display: flex;
    justify-content: space-between;

    h3{
      padding-left: 10px;
    }
  }


  &_place {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
      padding: 10px 20px;
    }

    h4 {
      text-align: left;
    }
  }

  &_details {
    display: flex;
    flex-direction:column;
  }

  &_remove {
    color: #FF0000;
    border: 1px solid red;
    background-color: none;
    font-size: 12px;

    &:hover {
      background-color: red;
      color: #FFFFFF
    }
  }
}


.closeCart {
  cursor: pointer;
  padding-right: 10px;
  font-size: 20px;
}


.totalAmonut {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

 @media (max-width: 1700px) {
  .storeBookCart {
    left: 1100px;
  }
}



